Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Folders
SideScrollerBP/
StarterContent/
Geometry/
Mannequin/
Developers/
Collections/
Intermediate/
Saved/
Build/